.note-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  font-size: 16px;
  margin: 50px 0; }
  .note-list a {
    cursor: pointer; }
  .note-list .note-item {
    border: 1px solid #ccc;
    padding: 10px;
    position: relative; }
    .note-list .note-item__title {
      font-size: 18px;
      font-weight: bold; }
    .note-list .note-item .icon-del {
      right: 10px;
      position: absolute;
      top: 10px; }
  .note-list .fas,
  .note-list .far {
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
