.note-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 1em;
	font-size: 16px;
	margin: 50px 0;
	
	a {
		cursor: pointer;
	}
	
	.note-item {
		border: 1px solid #ccc;
		padding: 10px;
		position: relative;
	
		&__title {
			font-size: 18px;
			font-weight: bold;
		}
			
		.icon-del {
			right: 10px;
			position: absolute;
			top: 10px;
		}
		.note-item__todo {
		}
		
	}
	.fas,
	.far {
		cursor: pointer;
	}
}