<html>
	<head>
		<title>Форма на VUE</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/fontawesome.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	</head>
	<body>
	<div id="note-list">
		<form v-on:submit.prevent="addNewNote">
			<label for="new-note">Создать новую заметку:</label><br/>
			<input v-model="newNoteName" id="new-note" placeholder="Название заметки" />
			<button>Создать</button>
		</form>
		
		<div class="note-list">
			<note-item v-for="(note, index) in notes" v-bind:key="index" v-bind:data="note" v-on:remove="removeNoteMethod" v-on:addnewtodo="addNewTodoMethod" v-on:removetodo="removeTodoMethod" v-on:edit="editNote" v-on:todoedit="editTodo"></note-item>
		</div>
	</div>
	
	<script>
		class LocalStorageDB {
			// префик для отделения ее от остальных
			constructor(dbPrefix) {
				this.dbPrefix = dbPrefix + '@';
			}

			// Добавляем данные в localStorage
			save(key, value) {
				let _value = JSON.stringify(value);
				localStorage.setItem(this.dbPrefix + key, _value);
				return true;
			}

			// Извлекаем данные из localStorage
			get(key) {
				let data = localStorage.getItem(this.dbPrefix + key);
				if(data === null)
					return false;
				let _data = false;
				try {
					_data = JSON.parse(data);
				} catch (e) {
					console.error(e);
				}
				return _data;
			}
			
			// удаляем значение по ключу
			delete(key) {
				localStorage.removeItem(this.dbPrefix + key);
			}
		}

		const db = new LocalStorageDB('note');
	
		Vue.component('note-item', {
			template: '\
				<div class=\"note-item\" v-show=\"data.title\">\
					<div class=\"note-item__title\" v-show="!data.editNode">{{ data.title }} <i v-on:click="data.editNode = true" class="fas fa-edit" title=\"Редактировать название заметки\"></i></div>\
					<a v-show="data.editNode" v-on:click=\"data.editNode=false\"><i class="fas fa-minus"></i> Отмена</a><br/>\
					<form class=\"note-item__title-form\" v-show="data.editNode" v-on:submit.prevent="$emit(\'edit\', data.id)">\
						<input v-model=\"data.editName\" :placeholder=\"data.title\" />\
						<button>Изменить</button>\
					</form>\
					<i v-on:click="$emit(\'remove\', data.id)" class=\"fas fa-trash-alt icon-del\" title=\"Удалить заметку\"></i>\
					<div class=\"note-item__todo\">\
						<div v-for="(list, index) in data.todos">\
							<span v-show=\"!list.edit && list.text\">\
								<i class=\"fas fa-times\" v-on:click="$emit(\'removetodo\', index, data.id)"></i>\
								{{index+1}}. {{list.text}}&nbsp;&nbsp;&nbsp;\
								<i v-on:click="list.edit = true" class="far fa-edit" title=\"Редактировать пункт\"></i>\
							</span>\
							<a v-show=\"list.edit\" v-on:click=\"list.edit=false\"><i class=\"fas fa-minus\"></i> Отмена</a><br/>\
							<form class="note-item__title-form" v-show="list.edit" v-on:submit.prevent="$emit(\'todoedit\', index, data.id)">\
								<input v-model="list.editName" :placeholder=\"list.text\" />\
								<button>Изменить</button>\
							</form>\
						</div>\
					</div>\
					<a v-show="!data.showAddTodo" v-on:click=\"data.showAddTodo=true\"><i class="fas fa-plus"></i> Добавить пункт<br/></a>\
					<a v-show="data.showAddTodo" v-on:click=\"data.showAddTodo=false\"><i class="fas fa-minus"></i> Скрыть<br/></a>\
					<div>\
					<form v-show="data.showAddTodo" v-on:submit.prevent="$emit(\'addnewtodo\', data.id)">\
						<input v-model=\"data.newTodoName\" placeholder=\"Новый пункт\" />\
						<button>Добавить</button>\
					</form>\
					</div>\
				</div>\
			',
			props: ['data']
		})
		
		var noteItems = db.get('note') || [],
			id = Object.keys(noteItems).length || 0;
			
		new Vue({
			el: '#note-list',
			data: {
				newNoteName: '',
				notes: noteItems,
				nextNoteId: id
			},
			methods: {
				addNewNote: function () {
					var item = {
						id: this.nextNoteId++,
						editNode: false,
						editName: '',
						showAddTodo: false,
						newTodoName: '',
						title: this.newNoteName,
						todos: []
					};
					this.notes.push(item);
					this.newNoteName = '';
					db.save('note', this.notes);
				},
				addNewTodoMethod: function(idNote) {
					var curNote = 0;
					for( var i = 0; i < this.notes.length; i++) {
						if (this.notes[i].id === idNote) {
							curNote = i;
						}
					}
					this.notes[curNote].todos.push({
						text: this.notes[curNote].newTodoName,
						edit: false,  
						editName: ''
					});
					this.notes[curNote].newTodoName = '';
					this.notes[curNote].showAddTodo = false;
					db.save('note', this.notes);
				},
				removeTodoMethod: function(idTodo, idNote) {
					this.notes[idNote].todos.splice(idTodo, 1);
					db.save('note', this.notes);
				},
				removeNoteMethod: function(idNote) {
					for( var i = 0; i < this.notes.length; i++) {
						if ( this.notes[i].id === idNote) {
							this.notes.splice(i, 1);
						}
					}
					this.nextNoteId--,
					db.save('note', this.notes);
				},
				editNote: function(idNote) {
					var curNote = 0;
					for( var i = 0; i < this.notes.length; i++) {
						if (this.notes[i].id === idNote) {
							curNote = i;
						}
					}
					if (this.notes[curNote].editName != '') {
						this.notes[curNote].title = this.notes[curNote].editName;
						this.notes[curNote].editName = '';
						this.notes[curNote].editNode = false;
						db.save('note', this.notes);
					}
				},
				editTodo: function(idTodo, idNote) {
					var curNote = 0;
					for( var i = 0; i < this.notes.length; i++) {
						if (this.notes[i].id === idNote) {
							curNote = i;
						}
					}
					if (this.notes[curNote].todos[idTodo].editName != '') {
						this.notes[curNote].todos[idTodo].text = this.notes[curNote].todos[idTodo].editName;
						this.notes[curNote].todos[idTodo].editName = '';
						this.notes[curNote].todos[idTodo].edit = false;
						db.save('note', this.notes);
					}
				}
			}
		})
	</script>
	</body>
</html>